<div class="c-app flex-row align-items-center">
  <CContainer>
    <CRow class="justify-content-center">
      <CCol md="8">
        <CCardGroup>
          <CCard class="p-4">
            <CCardBody>
              <CForm>
                <h1>Iniciar Sesion</h1>
                <p class="text-muted">Inicia sesion en tu cuenta</p>
                <CInput
                  placeholder="Email"
                  autocomplete="username email"
                  v-model="model.email"
                >
                  <template #prepend-content><CIcon name="cil-user"/></template>
                </CInput>
                <CInput
                  placeholder="Contraseña"
                  type="password"
                  autocomplete="curent-password"
                  v-model="model.password"
                >
                  <template #prepend-content><CIcon name="cil-lock-locked"/></template>
                </CInput>
                <CRow>
                  <CCol col="6" class="text-left">
                    <CButton @click="login" color="primary" class="px-4">Iniciar Sesion</CButton>
                  </CCol>
                  <CCol col="6" class="text-right">
                    <CButton color="link" class="px-0">Olvidaste tu contraseña?</CButton>
                    <CButton @click="register" color="link" class="d-lg-none">Registrate</CButton>
                  </CCol>
                </CRow>
              </CForm>
              <br>
              <br>
              <CAlert
            color="danger"
            closeButton
            :show.sync="alert1"
          >
            Email o contraseña incorrectos
          </CAlert>
            </CCardBody>
          </CCard>
          <CCard
            color="primary"
            text-color="white"
            class="text-center py-5 d-md-down-none"
            body-wrapper
          >
            <CCardBody>
              <h2>Registrate</h2>
              <p>Registrate para iniciar sesion en Viwit</p>
              <CButton
                @click="register"
                color="light"
                variant="outline"
                size="lg"
              >
                Registrate Ahora!
              </CButton>
            </CCardBody>
          </CCard>
        </CCardGroup>
      </CCol>
    </CRow>
  </CContainer>
</div>