<div>
  <CRow>
    <CCol sm="12" md="8" >
      <CCard>
        <CCardHeader>
          
          <strong v-if="editMode">Editar </strong>
          <strong v-else>Crear </strong><small>Buses</small>
        </CCardHeader>
        <CCardBody>
          <CRow>
            <CCol sm="4">
              <CInput v-model="model.licensePlateBus" label="Placa" placeholder="Placa" :readonly="editMode"/>
            </CCol>
            <CCol sm="8">
              <CInput v-model="model.model" label="Modelo" placeholder="Modelo" />
            </CCol>
          </CRow>
          
          <CRow>
            <CCol sm="6">
              <CInput v-model="model.seatedPassengerCapacity" type="number" label="Capacidad pasajeros" placeholder="Capacidad pasajeros"/>
            </CCol>
            <CCol sm="6">
              <CInput v-model="model.standingPassengerCapacity" type="number" label="Ocupación pasajeros" readonly/>
            </CCol>
          </CRow>

          <CRow>
            <CCol sm="6">
              <CInput v-model="model.debtCollectorIdUser" label="Cobrador" type="number" placeholder="Cobrador" readonly/>
            </CCol>
          </CRow>
        </CCardBody>
        <CCardFooter>
          <template v-if="editMode">
            <CButton @click="sendEdit" class="mr-2" size="sm" color="primary" :disabled="!formFilled"><CIcon name="cil-check-circle"/> Guardar Cambios</CButton>
            <CButton @click="sendDelete" size="sm" color="danger" ><CIcon name="cil-ban"/> Eliminar</CButton>
          </template>
          <template v-else>
            <CButton @click="sendCreate" class="mr-2" size="sm" color="primary" :disabled="!formFilled"><CIcon name="cil-check-circle"/> Crear</CButton>
          </template>
          
        </CCardFooter>
      </CCard>
    </CCol>
  </CRow>
</div>
