<div class="align-items-center min-vh-100">
  <WidgetsDropdown />

  <CRow>
    <CCol sm="12" md="4">
      <CCard>
        <CCardHeader>
          Conductor
        </CCardHeader>
        <CCardBody>
          <BarSimple
            :backgroundColor="driverChart.color"
            :dataPoints="driverChart.data"
            :label="driverChart.label"
          >
          </BarSimple>
        </CCardBody>
        <CCardFooter>
          <p style="font-size: 1rem;">
            Promedio <br />
            {{ driverChart.average}}
          </p>
        </CCardFooter>
      </CCard>
    </CCol>

    <CCol sm="12" md="4">
      <CCard>
        <CCardHeader>
          Bus
        </CCardHeader>
        <CCardBody>
          <BarSimple
            v-bind:backgroundColor="busChart.color"
            v-bind:dataPoints="busChart.data"
            v-bind:label="busChart.label"
          >
          </BarSimple>
        </CCardBody>
        <CCardFooter>
          <p style="font-size: 1rem;">
            Promedio <br />
            {{ busChart.average}}
          </p>
        </CCardFooter>
      </CCard>
    </CCol>

    <CCol sm="12" md="4">
      <CCard>
        <CCardHeader>
          Ruta
        </CCardHeader>
        <CCardBody>
          <BarSimple
            v-bind:backgroundColor="routeChart.color"
            v-bind:dataPoints="routeChart.data"
            v-bind:label="routeChart.label"
          >
          </BarSimple>
        </CCardBody>
        <CCardFooter>
          <p style="font-size: 1rem;">
            Promedio <br />
            {{ routeChart.average }}
          </p>
        </CCardFooter>
      </CCard>
    </CCol>
  </CRow>

  <CRow>
    <CCol sm="12" class="pl-2 pt-2 pr-2 pb-2">
      <Table
        caption="Calificaciones"
        class="text-center"
        :fields="['ID', 'Tipo', 'Calificacion']"
        :items="scores"
      />
    </CCol>
  </CRow>

</div>
