<div class="align-items-center min-vh-100">
  <CRow class="ml-2 mt-2 mr-2 mb-2">
    <CCol>
      <CCard>
        <CCardHeader>
          Conductor
        </CCardHeader>
        <CCardBody>
          <BarSimple 
              v-bind:backgroundColor="data_all[2].backgroundColor" v-bind:dataPoints="data_all[2].dataPoints"
              v-bind:label="data_all[2].label">
            </BarSimple>
        </CCardBody>
        <CCardFooter>
          <p>Promedio <br> {{ data_all[2].promedio }}</p>
        </CCardFooter>
      </CCard>
    </CCol>

    <CCol>
      <CCard>
        <CCardHeader>
          Bus
        </CCardHeader>
        <CCardBody>
          <BarSimple v-bind:backgroundColor="data_all[1].backgroundColor" v-bind:dataPoints="data_all[1].dataPoints"
              v-bind:label="data_all[1].label">
            </BarSimple>
        </CCardBody>
        <CCardFooter>
          <p>Promedio <br> {{ data_all[1].promedio }}</p>
        </CCardFooter>
      </CCard>
    </CCol>

    <CCol>
      <CCard>
        <CCardHeader>
          Ruta
        </CCardHeader>
        <CCardBody>
          <BarSimple v-bind:backgroundColor="data_all[0].backgroundColor" v-bind:dataPoints="data_all[0].dataPoints"
              v-bind:label="data_all[0].label">
            </BarSimple>
        </CCardBody>
        <CCardFooter>
          <p>Promedio <br> {{ data_all[0].promedio }}</p>
        </CCardFooter>
      </CCard>
    </CCol>

    <CCol sm="12" md="12" lg="12" class="pl-2 pt-2 pr-2 pb-2">
      <Table class="text-center" v-bind:key="data_all.id" v-bind:fields="['Id', 'kind', 'score']"
        v-bind:items="dataToLabel(data_table)"></Table>
    </CCol>
  
  </CRow>
</div>