<div class="align-items-center min-vh-100">
  <CRow class="ml-2 mt-2 mr-2 mb-2">
    <CCol sm="3" md="3" lg="3"></CCol>
    <CCol sm="6" md="6" lg="6">
      <CRow class="ml-2 mt-2 mr-2 mb-2">
        <CRow class="ml-2 mt-2 mr-2 mb-2">
          <CCol sm="1" md="1" lg="1" class="pl-2 pt-2 pr-2 pb-2">
            <CRow class="pl-2 pt-2 pr-2 pb-2 text-center">
              <p>Conductor</p>
            </CRow>
            <CRow class="pl-2 pt-2 pr-2 pb-2 text-center">
              <p>Promedio <br> {{ data_all[2].promedio }}</p>
            </CRow>
          </CCol>
          <CCol sm="3" md="3" lg="3" class="pl-2 pt-2 pr-2 pb-2">
            <BarSimple v-bind:backgroundColor="data_all[2].backgroundColor" v-bind:dataPoints="data_all[2].dataPoints"
              v-bind:label="data_all[2].label">
            </BarSimple>
          </CCol>

          <CCol sm="1" md="1" lg="1" class="pl-2 pt-2 pr-2 pb-2">
            <CRow class="pl-2 pt-2 pr-2 pb-2 text-center">
              <CCol class="aling-center">
                <p>Bus</p>
              </CCol>
            </CRow>
            <CRow class="pl-2 pt-2 pr-2 pb-2 text-center">
              <p>Promedio <br> {{ data_all[1].promedio }}</p>
            </CRow>
          </CCol>
          <CCol sm="3" md="3" lg="3" class="pl-2 pt-2 pr-2 pb-2">
            <BarSimple v-bind:backgroundColor="data_all[1].backgroundColor" v-bind:dataPoints="data_all[1].dataPoints"
              v-bind:label="data_all[1].label">
            </BarSimple>
          </CCol>

          <CCol sm="1" md="1" lg="1" class="pl-2 pt-2 pr-2 pb-2">
            <CRow class="pl-2 pt-2 pr-2 pb-2 text-center">
              <CCol class="aling-center">
                <p>Ruta</p>
              </CCol>
            </CRow>
            <CRow class="pl-2 pt-2 pr-2 pb-2 text-center">
              <p>Promedio <br> {{ data_all[0].promedio }}</p>
            </CRow>
          </CCol>
          <CCol sm="3" md="3" lg="3" class="pl-2 pt-2 pr-2 pb-2">
            <BarSimple v-bind:backgroundColor="data_all[0].backgroundColor" v-bind:dataPoints="data_all[0].dataPoints"
              v-bind:label="data_all[0].label">
            </BarSimple>
          </CCol>
        </CRow>

        <CRow class="ml-2 mt-2 mr-2 mb-2">
          <CCol sm="12" md="12" lg="12" class="pl-2 pt-2 pr-2 pb-2">
            <Table class="text-center" v-bind:key="data_all.id" v-bind:fields="['Id', 'kind', 'score']"
              v-bind:items="dataToLabel(data_table)"></Table>
          </CCol>
        </CRow>
      </CRow>
    </CCol>
    <CCol sm="3" md="3" lg="3"></CCol>
  </CRow>
</div>